<div class="container">
  <h2>Activite List</h2>

  <div class="form-group">
    <input [(ngModel)]="newActiviteName" placeholder="New Activite name" class="form-control" />
    <button (click)="addActivite()" class="btn btn-primary mt-2">Add Activite</button>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let Activite of activites">
        <th scope="row">{{ Activite.id }}</th>
        <td>{{ Activite.name }}</td>
    </tr>

  </tbody>
  </table>
</div>
