<div class="card mt-4">
  <div class="card-header bg-info text-dark">
    Lista aktywności
  </div>

  <div class="form-group">
     <div class="input-group my-3">
       <input [(ngModel)]="newActiviteName" placeholder="Dodaj aktywność" class="form-control"/>
       <button (click)="addActivite()" class="btn btn-primary">Add Activite</button>
     </div>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nazwa</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let Activite of activites">
        <th scope="row">{{ Activite.id }}</th>
        <td>{{ Activite.name }}</td>
    </tr>

  </tbody>
  </table>
</div>
