<!-- frontend/src/app/pages/teams/teams.component.html -->

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista Drużyn</h2>
    <a routerLink="/addteam" class="btn btn-primary">Dodaj drużynę</a>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Aktywność</th>
        <th>Graczy</th>
        <th>Punkty</th>
        <th>Zweryfikowana</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.team_id }}</td>
        <td>{{ team.team_name }}</td>
        <td>{{ getActivityName(team.activity_id) }}</td>
        <td>{{ team.amount_players }}</td>
        <td>{{ team.amount_points }}</td>
        <td>
          <span *ngIf="team.is_verified; else notVer" class="badge bg-success">
            Tak
          </span>
          <ng-template #notVer>
            <span class="badge bg-secondary">Nie</span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
