<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista boisk</h2>
    <button (click)="addField()" class="btn btn-primary">Dodaj boisko</button>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Miasto</th>
      <th scope="col">Adres</th>
      <th scope="col">Pojemność boiska (gracze)</th>
      <th scope="col">Rodzaj aktywności na boisku</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let Field of fields">
        <th scope="row">{{ Field.id }}</th>
        <td>{{ Field.name }}</td>
        <td>{{ Field.city }}</td>
        <td>{{ Field.address }}</td>
        <td>{{ Field.max_capacity }}</td>
        <td>{{ getActivityName(Field.activityID) }}</td>
    </tr>

  </tbody>
  </table>
</div>
