<div class="card mt-4">
  <div class="card-header bg-info text-dark">
    Drużyny do zatwierdzenia
  </div>

  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Aktywność</th>
        <th>Graczy</th>
        <th>Punkty</th>
        <th>Zweryfikowana</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.team_id }}</td>
        <td>{{ team.team_name }}</td>
        <td>{{ getActivityName(team.activity_id) }}</td>
        <td>{{ team.amount_players }}</td>
        <td>{{ team.amount_points }}</td>
        <td>
          <span *ngIf="team.is_verified; else notVer" class="badge bg-success">
            Tak
          </span>
          <ng-template #notVer>
            <span class="badge bg-secondary">Nie</span>
          </ng-template>
        </td>
        <td>
          <button
            *ngIf="!team.is_verified"
            class="btn btn-sm btn-success"
            (click)="verify(team.team_id)"
          >
            Zatwierdź
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
