<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista Gier i Turniejów</h2>
    <button class="btn btn-primary" (click)="goToAddGame()">Dodaj grę / turniej</button>
  </div>

  <table class="table table-hover table-striped">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Boisko</th>
        <th scope="col">Start</th>
        <th scope="col">Koniec</th>
        <th scope="col">Typ</th>
        <th scope="col">Status</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <th scope="row">{{ game.game_id }}</th>
        <td>{{ game.game_name }}</td>
        <td>{{ getFieldName(game.field_id) }}</td>
        <td>{{ game.start_date | date: 'short' }}</td>
        <td>{{ game.end_date | date: 'short' }}</td>
        <td>{{ game.booking_type }}</td>
        <td>
          <span *ngIf="game.is_tournament_verified" class="badge bg-success">Zatwierdzony</span>
          <span *ngIf="!game.is_tournament_verified" class="badge bg-warning">Oczekuje</span>
        </td>
        <td>
          <a [routerLink]="['/games', game.game_id]" class="btn btn-sm btn-info">
            Szczegóły
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
