<div class="card mt-4">
  <div class="card-header bg-info text-dark">
    Lista boisk
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Miasto</th>
      <th scope="col">Adres</th>
      <th scope="col">Pojemność boiska (gracze)</th>
      <th scope="col">Rodzaj aktywności na boisku</th>
      <th scope="col">Zweryfikowany ?</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let Field of fields">
        <th scope="row">{{ Field.id }}</th>
        <td>{{ Field.name }}</td>
        <td>{{ Field.city }}</td>
        <td>{{ Field.address }}</td>
        <td>{{ Field.max_capacity }}</td>
        <td>{{ getActivityName(Field.activityID) }}</td>
        <td><button *ngIf="!Field.is_verified" (click)="verify(Field.id)" class="btn btn-success">verify</button></td>
    </tr>

  </tbody>
  </table>
</div>
